html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.row,
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;

}

.row {
    flex-direction: row;
}

.app {
    height: 100%;
    width: 100%;
    background-position: inherit;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1477554193778-9562c28588c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkseagreen;
}


.container {
    height: 85vh;
    width: 85vw;
    border-radius: 0.75rem;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 40%);
}

.bg {
    filter: blur(3px);
    top: 7.5%;
    left: 7.5%;
    right: 7.5%;
    bottom: 7.5%;
    background-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, 50%);
    display: block;
    height: 85vh;
    width: 85vw;
    z-index: 1;
    position: absolute;
    border-radius: 0.75rem;
}

.items-cont {
    height: 70%;
    width: 100%;
}

.btn-row {
    height: 15%;
    align-items: flex-start;
    gap: 10%;
    width: 100%;
}

.container form {
    height: 100%;
    width: 95%;
    justify-content: flex-start;
    gap: 2.5%;
}

.form-control {
    gap: 10%;
}


::placeholder {
    color: rgba(205, 92, 92, 60%);
    font-style: italic;
    padding-left: 3px;
    font-size: medium;
}

::selection {
    background-color: #DD2476;
    color: white;
}

.font {
    font-family: 'Nunito', sans-serif;
}

.title {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(205 92 92);
    text-shadow: 4px 3px 2px rgb(205 92 92 / 30%);
    width: 100%;
    text-align: center;
}

.input,
.data-output {
    height: 4vh;
    width: 125px;
    background-color: rgba(255, 255, 255, 60%);
    border: none;
    border-radius: 0.25rem;
    padding-left: 6px;
    color: indianred;
    outline: none;
    box-shadow: 0px 1px 3px black;
    box-shadow: 0px 0px 3px indianred;
    cursor: pointer;
    font-size: medium;
}

select{
    text-transform: capitalize;
}

.form-control select option {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


.form-control label {
    color: indianred;
    text-transform: capitalize;
    align-self: flex-start;
    font-weight: bolder;
    padding-left: 3px;
    font-size: large;
}

button {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    color: white;
    position: relative;
    top: 10%;
    box-shadow: 0px 0px 100px black;
    font-weight: 800;
    font-size: small;
    padding: 18px 32px;
}

button:hover {
    background-position: right center;
}

.white-btn {
    background-image: none;
    background-color: white;
    color: indianred;
    border: 2px solid indianred;
    box-shadow: none;
}

.data-output {
    width: 200px;
    text-transform: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.data-label {
    font-weight: bolder;
    text-transform: capitalize;
}